@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Manrope:wght@400;500;600;700&family=Montserrat:wght@500&family=Open+Sans:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono&family=Roboto:wght@500&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "IBM Plex Mono", monospace;
    font-family: "Manrope", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Mono", monospace;
    font-family: "Ubuntu", sans-serif;
}

.active {
   text-decoration: solid;
}
